@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;

}

h1, h2, p {
    padding-bottom: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #1F2937;
}


.container {
    max-width: 900px;
    margin: auto;
    display: flex;
    padding: 1rem;
}


.nav-container {
    justify-content: space-between;
    flex: 1;
    padding: 1rem 0;
}


.header-logo {
    font-size: 1.5em;
    font-weight: bold;
}

.header-links {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

.intro {
    background: #1F2937;
    height: 500px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.intro-container {
    display: flex;
    align-items: center;
    height: 250px;
}

.intro-image {
    height: 100%;
    position: relative;
    flex: 1;
}

.intro-text {
    flex: 1;
}

.intro-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.intro-text button {
    color: white;
    background: #3882F6;
    border-radius: 5px;
    padding: 0.5rem 3rem;
    border: none;
    font-weight: bold;
    
}




.random-info {
    display: flex;
    min-height: 400px;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.cards {
    display: flex;
    gap: 5rem;
}

.card {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card-image {
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 5px;
}

.quote-section {
    background: #E5E7EB;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
}

.quote-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 500px;
    font-style: italic;
    font-size: 20px;
}

.quote-author {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    font-style: normal;
}

.cta-container {
    justify-content: space-between;
    align-items: center;
    background: #3882F6;
    padding: 2.5rem;
    color: white;
    margin: 5rem auto;
    border-radius: 5px;
}

.cta-text {
    flex: 1;
}

.cta-container button {
    flex-shrink: 0;
    width: 100px;
    padding: 0.5rem 1.25rem;
    background: none;
    border: 1px solid white;
    color: white;
    font-weight: bold;
}

footer {
    background: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}